<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.bielai.shop.mapper.XxShopGoodsInfoMapper">

    <update id="reduceStockNum">
        update tb_xx_shop_goods_info
        set stock_num = stock_num - #{stockNum}
        where goods_id = #{id}
          and stock_num >= #{stockNum}
          and goods_sell_status = 0;
    </update>

    <update id="recoverStockNum">
        update tb_xx_shop_goods_info
        set stock_num = stock_num + #{stockNum}
        where goods_id = #{id}
          and goods_sell_status = 0;
    </update>
</mapper>
